:root {
    --colorbaknavbar: #33344A;
    --colornavbar: #ffffff;
    --colorselnavbar: #d0ddea;
    --coloriconnavbar: #ffffff;
    --colorselsmnavbar: #4d9cf0;
    --colorback: #c1b5e0;
    --colorheadermodal: rgba(0, 35, 140, 0.5);
    --colorbakcard: #2B648F;
    --colorbakheradertable: #d0ddea;
    --colorfontheadertable: #33344A;
    --coloriconsidebar: #ffffff;
    --colorsidebar: #ffffff;
    --colorbaksidebar: #32457C;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("Imagenes/background.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
}

.close{
    color:white;
}
.card-header {
    background-color: var(--colorheadermodal) !important;
    height: 45px;
    padding-top: 4px;
    color: white;
}

/*Bootstrap Navbar Aplication*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='#FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.navbar {
    color: var(--colornavbar) !important;
    background-color: var(--colorbaknavbar) !important;
    height: 60px;
}
.navbar-brand {
    color: yellow !important;
    font-weight: bold;
    font-size:25px;

}
.navbar-nav {
    background: var(--colorbaknavbar) !important;
}
.nav-link {
    padding: 10px !important;
    cursor: pointer !important;
    color: var(--colornavbar) !important;
    font-weight: bold;
}
.nav-item :hover {
    background-color: var(--colorselnavbar) !important; /*Color del Backgroud de la opciones de la barra de navegación*/
    color: var(--colornavbar) !important;
    border-radius: 5px 5px 5px 5px;
}
.dropdown-item {
    background-color: var(--colorbaknavbar) !important; /*Color del Background de los item de un drowdown de la barra del navegación*/
    color: var(--colornavbar) !important;
    font-weight: bold;
}
.dropdown-menu.show {
    background-color: var(--colorbaknavbar) !important; /*Color del Backgroud de dropdown*/
    border-radius: 5px 5px 5px 5px !important;
}
.dropdown-item:hover {
    background-color: var(--colorselsmnavbar) !important; /*Barra sub menu login*/
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--colornavbar) !important; /*Todos los items*/
}
/*Tabs*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #235071;
    border-color: #dee2e6 #dee2e6 #fff;
}
/*Fin Bootstrap Navbar Aplication*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 99%;
}
.form-control{
    max-width: 95%;
}
.form-group {
    margin-bottom: 0;
}
.col-form-label {
    padding-top: calc(1px + 0.37rem);
    padding-bottom: calc(1px + 0.37rem);
    margin-bottom: 0px;
    font-size: inherit;
    line-height: 1.5;
    text-align: left;
}
.modal-header {
    color: #fff;
    border-color: var(--colorheadermodal);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
    height: 40px;
    background-color: var(--colorheadermodal);
    padding-top: 5px;
}
.modal-footer {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
}

/*.control-label{
    font-size:12px !important;
}*/
/*Estilos de tablas*/
/*Boton Table*/
th {
    background-color: var(--colorbakheradertable) !important;
    color: var(--colorfontheadertable) !important;
    border: 1px solid #e5e5e5 !important;
    font-style: italic;
}


.btn-grid {
    text-decoration: none;
    width: 90px;
    font-size: 14px;
}

/*Formato de Menu Panel*/
/*Red*/
/*.masthead {
    padding: 3rem 0 7rem;
    position: relative;
    background-color: #dd3d31;
    background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, #dd3d31 0%, #d22f23 100%);
    background-size: cover;
    z-index: 0
}*/

/*Green*/
/*.masthead {
    padding: 3rem 0 7rem;
    position: relative;
    background-color: #16cc00;
    background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, rgba(46, 78, 56, 0.5) 0%, #14ca11 100%);
    background-size: cover;
    z-index: 0;
}*/

/*Blue*/
.masthead {
    padding: 0rem 0 7rem;
    position: relative;
    background-color: var(--colorbaknavbar);
    background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, rgba(0, 35, 140, 0.5) 0%, #d0ddea 100%);
    background-size: cover;
    z-index: 0;
}
    .masthead svg.wave {
        position: absolute;
        bottom: -1px;
        left: 0
    }
    .masthead h1 {
        color: #fff;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.1;
        z-index: 1
    }
    .masthead h2 {
        color: rgba(255, 255, 255, .6);
        font-weight: 600;
        z-index: 1;
        font-size: 1.2rem
    }
    .masthead a {
        color: rgba(255, 255, 255, .8);
        text-decoration: underline;
        z-index: 1
    }
        .masthead a:hover {
            color: #fff
        }
        .masthead a:active {
            text-decoration: none
        }
@media(min-width:992px) {
    .masthead h1 {
        font-size: 3rem
    }

    .masthead h2 {
        font-size: 1.5rem
    }
}
.masthead .masthead-cards {
    position: relative;
    z-index: 1
}
    .masthead .masthead-cards .shape {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, .3);
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
    }
    .masthead .masthead-cards .card {
        opacity: 1;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: .05rem;
        color: #ffffff;
        transition: .15s all;
        background-color:var(--colorbaknavbar);       
    }
        .masthead .masthead-cards .card:hover {
            margin-top: -.25rem;
            margin-bottom: .25rem
        }
        .masthead .masthead-cards .card:active {
            margin-top: inherit;
            margin-bottom: inherit
        }
        .masthead .masthead-cards .card.border-bottom-blue:hover {
            color: #2092ed
        }
        .masthead .masthead-cards .card.border-bottom-green:hover {
            color: #28a745
        }
        .masthead .masthead-cards .card.border-bottom-red:hover {
            color: #4d9cf0;
        }
        .masthead .masthead-cards .card.border-bottom-yellow:hover {
            color: #ffc107
        }
.masthead-page {
    padding: 1rem 0 4rem
}
@media(min-width:992px) {
    .masthead-page h1 {
        font-size: 2.5rem
    }
}
.border-bottom-yellow {
    border-color: #ffc107 !important;
}
.border-bottom-red {
    border-color: #dd3d31 !important;
}
.border-bottom-blue {
    border-color: #2092ed !important;
}
.border-bottom-green {
    border-color: #28a745 !important;
}
.border-bottom-blue, .border-bottom-green, .border-bottom-red, .border-bottom-yellow {
    border-bottom: .4rem solid !important;
}
.shadow-lg {
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05) !important;
}
.border-0 {
    border: 0 !important;
}

/*Menu Side*/

.sidenav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--colorbaksidebar);
    overflow-x: hidden;
    padding-top: 20px;
    padding: 10px;
}
    .sidenav ul {
        background-color: var(--colorbaksidebar) !important;
    }
    .sidenav ul a:hover {
        background-color: #4d9cf0 !important;
 }
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: var(--colorsidebar) !important;
        display: block;
        font-size: 14px !important;
        font-weight: normal;
    }
    .sidenav a:hover {
        color: #ffffff !important;
    }
    .sidenav i:hover {
        color: #ffffff !important;
        background-color: var(--colorselnavbar) !important;
    }
    .sidenav a:hover {
            color: #f1f1f1;
}
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    /*font-size: 28px;*/ /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
        .sidenav a {
            font-size: 18px;
        }
}

@media screen and (max-width: 980px) {
    /*.sidenav {
        margin-left: 0;
        width: 0;
        display: none;
    }*/
    .main {
        margin-left: 0;
    }
}
/* Icon when the collapsible content is hidden */
.exp {
    float: right;
    color: #ffffff;
    text-shadow: 0px 1px 0px #fff;
    cursor:pointer;
}
.exptitle {
    color: #ffffff;
    text-shadow: 0px 1px 0px #fff;
    cursor: pointer;
}