<div class="alert alert-success" role="alert">
    <h1 style="text-align:center;">
        Información del Sistema
    </h1>

    <h2 style="text-align:center;"><span class="fas fa-info  fa-2x icon-menu11" style="color:yellow"></span> @ViewBag.Title</h2>
    <div class="alert alert-warning" role="alert">
        @ViewBag.Description
    </div>
</div>
